<h1 id="title">Task Manager</h1>
<div id="task-lists">
    <div id="incomplete">
        <h1>Tasks to accomplish!</h1>
        <hr>

        <ul>
            {{#each tasks}}
            {{#unless completed}}
            <h3>
                <span class="space-between">{{this.task_name}} <button class="complete" data-id="{{this.id}}">Done &#10004;</button></span>
            </h3>

            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div id="complete">
        <h1>Complete tasks!</h1>
        <hr>

        <ul>
            {{#each tasks}}
            {{#if completed}}
            <h3>
                <span class="space-between">{{this.task_name}} <button class="delete-me" data-id="{{this.id}}">X</button></span>
            </h3>
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>

<h2>Submit a new task</h2>

<div class="add-task">
    <form action="/tasks/create" class="create-form" method="POST">
        <input type="text" name="task_name" value="" placeholder="New Task">
        <button type="submit" id="text-enter-button">Submit</button>
    </form>
</div>