body {
    background-image: url("/assets/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: darkslategray;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.1rem;
    position: relative;
}

#title {
    font-size: 4rem;
    text-align: center;
    width: 70%;
    margin: 0 15%;
}

#task-lists {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
hr {
    width: 90%;
}

button {
    background-color: rgb(55, 48, 100);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: .6rem;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#incomplete {
    float: left;
}

#incomplete, #complete {
    background-color: rgb(219, 217, 217);
    border: 1px solid darkslategray;
    box-shadow: .3rem .3rem .3rem darkslategray;
    margin-top: 1rem;
    width: 45%;
}

#incomplete, #complete > h1 {
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    margin: 0 4%;
    transition: all .3s;
}

h2 {
    background-color: rgb(223, 163, 114);
    margin: 1.5rem 25%;
    padding: .5rem;
    text-align: center;
    width: 50%;
}
.add-task {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

form {
    transition: all .3s;
}

input {
    border: 1px solid darkslategray;
    height: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

footer {
    background-color: darkslategray;
    border-top: 1px solid rgb(223, 163, 114);
    color: whitesmoke;
    height: 5%;
    font-size: .7rem;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
